<div class="flex flex-col items-center justify-center">
    <div class="flex mb-3">
        <div class="flex ml-2">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Starbucks_Corporation_Logo_2011.svg/800px-Starbucks_Corporation_Logo_2011.svg.png" alt="" class="transaction-img">
            <div class="ml-2">
                <h1>Starbucks</h1>
                <h1>17:05</h1>
            </div>
        </div>
        <div class="mr-2 mt-auto mb-auto">
            <h1>-55$</h1>
        </div>
    </div>
    <div class="flex mb-3">
        <div class="flex ml-2">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Burger_King_logo_%281999%29.svg/759px-Burger_King_logo_%281999%29.svg.png" alt="" class="transaction-img">
            <div class="ml-2">
                <h1>Burgerking</h1>
                <h1>12:18</h1>
            </div>
        </div>
        <div class="mr-2 mt-auto mb-auto">
            <h1>-21$</h1>
        </div>
    </div>
    <div class="flex mb-3">
        <div class="flex ml-2">
            <img src="https://upload.wikimedia.org/wikipedia/sco/thumb/b/bf/KFC_logo.svg/2048px-KFC_logo.svg.png" alt="" class="transaction-img">
            <div class="ml-2">
                <h1>KFC</h1>
                <h1>22:32</h1>
            </div>
        </div>
        <div class="mr-2 mt-auto mb-auto">
            <h1>-34$</h1>
        </div>
    </div>
</div>
